.success-message {
    background-color: #F0FFF4;
    padding: 0.5rem;
    border-radius: 0.375rem;
}

.success-message p {
    color: #FF7F50;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
}

.success-message button {
    border: none;
    cursor: pointer;
}

.success-message button:hover {
    background-color: #FFA07A;
}