.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    font-size: 14px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section-columns {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: #fff;
    padding: 20px;
    max-width: 600px;
    max-height: 80%;
    overflow: auto;
    text-align: justify;
}

.popup h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

.popup button {
    margin: 20px auto 0;
    padding: 10px 20px;
    border: none;
    background-color: #FF7F50;
    color: #fff;
    cursor: pointer;
    display: block;
}

.popup button:hover {
    background-color: #FF7F50;
}

.popup-close {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}