.form-container {
    max-width: 600px;
    margin: 0 auto;
}

.form-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-title .text-indigo-500 {
    color: #FFA500;
}

.form-subtitle {
    font-size: 1.125rem;
    margin-bottom: 30px;
    color: #6B7280;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #F9FAFB;
    border-radius: 5px;
}

.form-label {
    display: block;
    font-size: 1.125rem;
    margin-bottom: 5px;
    color: #374151;
}

.form-input-wrapper {
    position: relative;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    font-size: 1rem;
    color: #4B5563;
    background-color: #F3F4F6;
}

.form-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #FF8C00;
}

.form-submit-button {
    background-color: #FF8C00;
    color: #F9FAFB;
    border: none;
    padding: 10px 20px;
    font-size: 1.125rem;
    border-radius: 5px;
    cursor: pointer;
}

.form-submit-button:hover {
    background-color: #FF7F50;
}

@media (max-width: 768px) {
    .form-container {
        padding: 0 20px;
    }
}