.navbar-links-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
}

.navbar-links-container li {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.navbar-menu-container {
    display: none;
}

@media (max-width: 768px) {
    .navbar-links-container {
        display: none;
    }

    .navbar-menu-container {
        display: block;
    }
}